<template>
    <ion-content class="ion-padding">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d43308.45383644274!2d39.53667609746095!3d47.27958693323088!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40e3c422603ba6a1%3A0xd0283f11085aec09!2z0YbQtdC90YLRgNCw0LvRjNC90LDRjyDRgNCw0LnQvtC90L3QsNGPINCx0L7Qu9GM0L3QuNGG0LAg0LzRj9GB0L3QuNC60L7QstGB0LrQvtCz0L4g0YDQsNC50L7QvdCw!5e0!3m2!1sru!2sru!4v1659021173448!5m2!1sru!2sru" class="card-google" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <ModalDialog />
    </ion-content>
</template>

<script lang="ts">
  import ModalDialog from '@/components/modal-dialog.vue';
  import { defineComponent } from 'vue';
  import {
      IonContent
    } from '@ionic/vue';
  export default defineComponent({
    components: {
      IonContent,
      ModalDialog
    },
  });
</script>
<style scoped>
  .card-google{
    border: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
  }
</style>