<template>
    <div class="ion-padding">
      <ion-modal ref="modal" :is-open="true" :initial-breakpoint="0.09" :breakpoints="[0.09, 0.25, 0.5, 1]">
          <ion-searchbar 
              style="margin: 10px 0px;"
              debounce="50" 
              animated
              v-model="search"
              @ionChange="changeSearch"
              @click="$refs.modal.$el.setCurrentBreakpoint(1)"
              placeholder="Search"
            >
          </ion-searchbar>
          <ion-segment style="margin: 0px 10px;" @ionChange="segmentChanged($event)">
            <ion-segment-button v-for="(item, index) in segments" :key="'segment' + index" :value="item.value">
              <ion-label>{{item.text}}</ion-label>
            </ion-segment-button>
          </ion-segment>
          <ion-content class="ion-padding">
            <ion-list v-if="!isLoadData">
              <ion-item v-for="item in data" :key="'user-id:'+item.id">
                <ion-avatar slot="start">
                  <ion-img :src="item.img"></ion-img>
                </ion-avatar>
                <ion-label>
                  <h2>{{item.name}}</h2>
                  <p>{{item.text}}</p>
                </ion-label>
              </ion-item>
              <ion-infinite-scroll
                @ionInfinite="loadData($event)" 
                threshold="100px" 
                id="infinite-scroll"
                :disabled="isDisabled"
              >
                <ion-infinite-scroll-content
                  loading-spinner="bubbles"
                  loading-text="Loading more data...">
                </ion-infinite-scroll-content>
              </ion-infinite-scroll>
            </ion-list>
            <ion-list v-if="isLoadData">
              <ion-item v-for="(item, index) in 4" :key="'users-scelet' + index">
                <ion-avatar slot="start">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-avatar>
                <ion-label>
                  <h2><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></h2>
                  <p><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></p>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-content>
      </ion-modal>
    </div>
</template>

<script lang="ts">
  import {
    IonModal,
    IonContent,
    IonItem,
    IonList,
    IonAvatar,
    IonImg,
    IonSegment, 
    IonSegmentButton,
    IonLabel,
    IonSearchbar,
    IonInfiniteScroll, 
    IonInfiniteScrollContent,
    InfiniteScrollCustomEvent,
  } from '@ionic/vue';
  import { defineComponent } from 'vue';
  import { getData, getSegments, changeData } from '../data/all';

  export default defineComponent({
    data: () => ({
      data: getData(),
      search: '',
      segments: getSegments(),
      isLoadData: false,
      isDisabled: false,
      segment: ''
    }),
    components: {
      IonInfiniteScroll,
      IonInfiniteScrollContent,
      IonModal,
      IonSegment,
      IonSegmentButton,
      IonContent,
      IonItem,
      IonList,
      IonAvatar,
      IonImg,
      IonLabel,
      IonSearchbar,
    },
    methods:{
      segmentChanged(event: any){
        this.segment = event.detail.value;
        this.changeSearch()
      },
      searchItem(){
        let content = getData();

        if(this.segment){
          content = content.filter((item) => {
            return this.segment
              .toLowerCase()
              .split(" ")
              .every((v: any) => item.type.toLowerCase().includes(v));
          });
        }

        if (!this.search || this.search === "") {
          this.data = content;
        } else {
          this.data = content.filter((item) => {
            return this.search
              .toLowerCase()
              .split(" ")
              .every((v: any) => item.name.toLowerCase().includes(v));
          });
        }
      },
      loadData(ev: InfiniteScrollCustomEvent){
        setTimeout(() => {
          this.pushData();
          ev.target.complete();
              if (this.data.length === 1000) {
            ev.target.disabled = true;
            this.isDisabled = true;
          }
        }, 500);
      },
      pushData(){
        for (var i = 5; i < 35; i++) {
          this.data.push(
            {
              name: 'test1',
              text: 'New event: Trip to Vegas',
              id: i,
              img: this.segment === 'shop' ? 'https://gum.ru/upload/resize_cache/iblock/695/600_600_0/1400x1400_salvatore_.jpg' : 'https://i.pravatar.cc/300?u=b',
              type: this.segment ? this.segment : 'user'
            }
          )
        }
        changeData(this.data)
      },
      changeSearch(){
        this.isLoadData = true;
        this.searchItem();
        setTimeout(() => {
          this.isLoadData = false
        }, 1000)
      },
    },
  });
</script>
